.divNavbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(255, 251, 251);
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  font-size: 20px;
}

.divNavbar > div > p > a {
  text-decoration: none;
  color: black;
}
.fullBody {
  margin: 0;
  text-align: center;
  display: flex;
}
.fullBody > h1 {
  margin-top: 95px;
  font-family: "copperplate";
  text-decoration: underline;
}
.divForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
}
/**************************************/
body {
  background-image: url("/asset/img/Toutes\ les\ photos\ -\ 1\ sur\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
}
