.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-raw {
  display: flex;
  flex-direction: row;
}
.justify-center {
  justify-content: center;
  justify-items: center;
}
.align-end {
  align-items: flex-end;
  align-content: flex-end;
}
.m-lr-auto {
  margin: 0 auto;
}
.m-t-10 {
  margin-top: 10%;
}
.m-l-15p {
  margin-left: 15px;
}
.max-width-50 {
  max-width: 50%;
}
.space-between {
  justify-content: space-between;
}
.space-evenly {
  justify-content: space-evenly;
}
