.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-raw {
  display: flex;
  flex-direction: row;
}
.flex-end {
  align-items: flex-end;
}
.justify-center {
  justify-content: center;
  justify-items: center;
}
.align-center {
  align-items: center;
  align-content: center;
}
.align-end {
  align-items: flex-end;
  align-content: flex-end;
}
.m-lr-auto {
  margin: 0 auto;
}
.m-tb-auto {
  margin: auto 0;
}
.m-a-auto {
  margin: auto;
}
.m-t-10 {
  margin-top: 10%;
}
.m-t-10p {
  margin-top: 10px;
}
.m-b-10p {
  margin-bottom: 10px;
}
.m-l-15 {
  margin-left: 15%;
}
.m-l-15p {
  margin-left: 15px;
}
.max-width-50 {
  max-width: 50%;
}
.max-width-60 {
  max-width: 60%;
}
.space-between {
  justify-content: space-between;
}
.space-evenly {
  justify-content: space-evenly;
}
.text-center {
  text-align: center;
}
