@import "helpers";
@import "theme";
@import "../../../node_modules/bulma/bulma.sass";
@import "../../../node_modules/leaflet/dist/leaflet.css";
@import "../../../node_modules/vue-multiselect/dist/vue-multiselect.css";
html {
  overflow: hidden;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  background-image: url("../img/index.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-attachment: fixed;

  // &:before {
  //   content: "";
  //   background: linear-gradient(
  //     180deg,
  //     rgb(3, 3, 10) 0%,
  //     rgba(3, 32, 161, 0.6) 42%,
  //     rgba(236, 238, 237, 0.31) 100%
  //   );

  //   position: absolute;
  //   height: 100%;
  //   width: 100%;
  // }
}

.navbar {
  a {
    color: $black;

    &.router-link-exact-active {
      color: $secondary;
    }
  }
}
.card {
  max-width: 25%;
  box-shadow: 2px 2px 0 black;
  border: 1px solid $primary;
}
.isSecondary {
  color: $secondary;
}
.shadow {
  border: 1px solid black;
  box-shadow: $boxshadow;
}
.danger-shadow {
  border: 1px groove pink;
  box-shadow: 0 3px 12px red;
}
.multiselect__option--highlight {
  background-color: $hoverable;
  &::after {
    background-color: $hoverable;
  }
}
