@import "helpers";
@import "theme";
@import "../../../node_modules/bulma/bulma.sass";

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

.navbar {
  a {
    color: $black;

    &.router-link-exact-active {
      color: $secondary;
    }
  }
}
.card {
  max-width: 25%;
  box-shadow: 2px 2px 0 black;
  border: 1px solid $primary;
}
.isSecondary {
  color: $secondary;
}
