@import "helpers";
@import "theme";
@import "../../../node_modules/bulma/bulma.sass";

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  background: rgb(23, 16, 156);
  background: linear-gradient(
    180deg,
    rgba(23, 16, 156, 1) 0%,
    rgba(30, 180, 244, 1) 52%,
    rgba(0, 255, 194, 1) 100%
  );
  min-height: 100vh;
}

.navbar {
  a {
    color: $black;

    &.router-link-exact-active {
      color: $secondary;
    }
  }
}
.card {
  max-width: 25%;
  box-shadow: 2px 2px 0 black;
  border: 1px solid $primary;
}
.isSecondary {
  color: $secondary;
}
.shadow {
  border: 1px solid black;
  box-shadow: 2px 2px 0 $primary;
}
.bg-theme {
  background-color: aquamarine;
}
