$primary: rgb(235, 227, 227);
$secondary: rgb(16, 121, 190);
$hoverable: rgb(65 229 255);
$b-g-transparent: rgba(255, 255, 255, 0.716);
$boxshadow: 0px 3px 6px rgb(0 0 0 / 35%);
$modal-card-head-background-color: $primary;
$navbar-dropdown-item-hover-color: $secondary;
$navbar-background-color: $b-g-transparent;
@import "../../../node_modules/bulma/sass/utilities/_all.sass";
