.divNavbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(255, 251, 251);
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  font-size: 20px;
}

.divNavbar > div > p > a {
  text-decoration: none;
  color: black;
}
/*-----------------------------------keyFrames toast---------------------------------------------*/
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

/**************************************/

#bodyindex {
  margin: 0;
  text-align: center;
  background-image: url("/asset/img/index.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.isFlexCollum {
  display: flex;
  flex-direction: column;
  margin: 20% 0 0 0;
  text-align: end;
  justify-content: space-between;
}
.isFlexCollum > form > fieldset > div > input {
  margin: 10px 10px;
}
.isFlexCollum > form {
  background-color: rgba(255, 255, 255, 0.56);
  margin: auto;
}
.isCenter {
  text-align: center;
}

.isFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.isOnclick {
  text-decoration: underline;
  cursor: pointer;
}
.fullBody {
  margin: 0;
  text-align: center;
}
.isHidden {
  display: none;
}
#resFalse {
  visibility: hidden;
  min-width: 250px;
  margin-left: -150px;
  background-color: #333;
  color: #58d5e9;
  text-align: center;
  border-radius: 6px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  box-shadow: 0 0 5px 5px #58d5e9;
}

#resFalse.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#resTrue {
  visibility: hidden;
  min-width: 250px;
  margin-left: -150px;
  background-color: #333;
  color: #58d5e9;
  text-align: center;
  border-radius: 6px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  box-shadow: 0 0 5px 5px #58d5e9;
}

#resTrue.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#badLog {
  visibility: hidden;
  min-width: 250px;
  margin-left: -150px;
  background-color: #333;
  color: #58d5e9;
  text-align: center;
  border-radius: 6px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  box-shadow: 0 0 5px 5px #58d5e9;
}

#badLog.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#logged > h3 {
  color: white;
  background-color: black;
  width: 20%;
}
