@font-face {
  font-family: "Copperlate gothic";
  src: url("./Copperplate\ Gothic\ Light\ Regular.ttf");
}
@font-face {
  font-family: "grammatika";
  src: url(./Grammatika-Regular.otf);
}
/*-----------------------------------keyFrames toast---------------------------------------------*/
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
/*style Nav bar ---------------------*/
.openclose {
  width: 10%;
  position: fixed;
  height: 20px;
}
#buttonOpenClose {
  width: 130px;
  margin: 15px 0px 10px 10px;
  height: 35px;

  background-color: rgba(135, 206, 250, 0.308);
  opacity: 0.6;
  border-radius: 20px;
  position: fixed;
  font-family: "copperlate gothic";
}
#buttonOpenClose:hover {
  width: 130px;
  margin: 15px 0px 10px 10px;
  height: 35px;

  background-color: lightskyblue;
  transition: 0.4s;
  opacity: 1;
}
#navbar {
  width: fit-content;
  height: auto;
  margin-top: 70px;
  position: fixed;
  display: none;
  background-color: lightskyblue;
  transition: 500ms;
  border-radius: 20px;
  min-width: fit-content;
  left: 12px;
}

#navbar > ul {
  font-family: cursive;
  font-size: 19px;
  padding: 0;
}
#navbar > ul > li > a {
  text-decoration: none;
  color: black;
  font-family: "copperlate gothic";
  font-size: 15px;
}
#navbar > ul > li > a:hover {
  text-decoration: none;
  color: rgb(206, 39, 9);
}
.buttonNav {
  margin: 30% 10%;
  display: flex;

  align-items: center;
  text-align: center;
  padding: 0;
}
/*Fin style NavBar -----------------------------------------------------*/
input[type="button"] {
  cursor: pointer;
}
/*Style nouveau site --------*/
@font-face {
  font-family: "copperplate";
  src: url(/Copperplate\ Gothic\ Light\ Regular.ttf);
}
@font-face {
  font-family: "grammatika";
  src: url(/Grammatika-Regular.otf);
}
#bodyNewsite {
  background-image: url("/formulaire site/img/IMG_3202.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  font-family: "grammatika";
  background-attachment: fixed;
}
#divNavbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(255, 251, 251);
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  font-size: 20px;
}

#divNavbar > div > p > a {
  text-decoration: none;
  color: black;
}
.fullBody {
  margin: 0;
  text-align: center;
}
.fullBody > h1 {
  margin-top: 95px;
  font-family: "copperplate";
  text-decoration: underline;
}
#divForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
}
.infoImpotant {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.infoImpotant > input {
  margin: 0 auto;
}
.infoImpotant > select {
  margin: 0 auto;
}
input[type="text"],
input[type="number"],
select {
  width: 50%;
  min-width: 150px;
  max-width: 200px;
  box-sizing: border-box;
  padding: 4px;
}
#divForm > form > fieldset > label {
  margin: 6px 0;
  text-decoration: underline;
}
#divForm > form > fieldset > div > p {
  margin: 6px 0;
  text-decoration: underline;
}
#divForm > form > fieldset {
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.507);
}
#divForm > form > fieldset > legend {
  background-color: white;
  font-family: "copperplate";
  text-decoration: underline;
}
.saison > div,
.confort > div,
.exposition > div {
  display: inline;
}
.infoPark {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

#gps {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
#gps2 {
  display: none;
  flex-direction: row;
  flex-grow: 1;
}
#gps > div,
#gps2 > div {
  flex-grow: 1;
}
#gps > p,
#gps2 > p {
  flex-grow: 1;
}
#gps {
  margin-left: 14px;
}
#buttonForm {
  margin: 25px 0;
  border-radius: 9px;
  width: 75px;
  height: 25px;
  border-color: darkturquoise;
  cursor: pointer;
}
#reponse {
  visibility: hidden;
  min-width: 250px;
  margin-left: -150px;
  background-color: #333;
  color: #58d5e9;
  text-align: center;
  border-radius: 6px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  box-shadow: 0 0 5px 5px #58d5e9;
}

#reponse.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
/**********************************************responsive*************************************/
@media screen and (max-width: 1030px) {
  #gps,
  #gps2 {
    flex-direction: column;
    align-items: flex-end;
    margin-right: 28%;
  }
  #divForm > form > fieldset > #gps > p {
    margin-right: 15%;
  }
  #divForm > form > fieldset > #gps2 > p {
    margin-right: 12%;
  }
  #gps > div,
  #gps2 > div {
    margin: 5px 0 2px 0;
  }
}

@media screen and (max-width: 1090px) {
  .confort {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 37%;
  }
}
@media screen and (max-width: 720px) {
  #gps,
  #gps {
    margin-right: 20%;
  }
}

@media screen and (max-width: 800px) {
  .saison {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 37%;
  }
}
@media screen and (max-width: 650px) {
  #gps > div,
  #gps2 > div {
    display: flex;
    align-items: flex-end;
  }
}
@media screen and (max-width: 560px) {
  .confort,
  .saison {
    margin-left: 30%;
  }
}
@media screen and (max-width: 460px) {
  .exposition {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #divForm {
    width: 100%;
  }
  .home > p {
    display: none;
  }
  .home {
    background-image: url("/formulaire site/img/home-png-20047-32x32.ico");
    width: 30px;
    margin-top: 9px;
    background-repeat: no-repeat;
  }
  input[type="checkbox"] {
    transform: scale(1.8);
  }
  .exposition > label,
  .saison > label,
  .confort > label,
  #gps > label,
  #gps2 > label {
    margin: 6px 0 3px 0;
  }
  .saison,
  .confort {
    margin: inherit;
  }
  .saison > div > input,
  .confort > div > input,
  .exposition > div > input {
    margin-bottom: 10px;
  }
  .saison,
  .exposition,
  .confort {
    align-items: flex-start;
  }
  .saison > div > label,
  .exposition > div > label,
  .confort > div > label {
    margin-left: 10px;
  }
  .saison > div,
  .exposition > div,
  .confort > div {
    margin-left: 40%;
  }
  #divForm > form > fieldset > div > p {
    margin-left: 40%;
  }
  #divForm > form > fieldset > div#gps > p,
  #divForm > form > fieldset > div#gps2 > p {
    margin: 6px 0;
  }
}

/* fin style nouveau site ------------------------------------------------------*/

/* -------------------------style feuille de croix--------------------*/
#bodycroix {
  display: grid;
  grid-template-columns: 175px 1fr 1fr 1fr;
  grid-template-rows: 90px 1fr 1fr 1fr;
  grid-template-areas:
    "navbar titrec titrec titrec "
    "navbar formc formc formc"
    "navbar formc formc formc"
    "navbar stat stat stat";
  margin: 0;
  min-height: 100vh;
}
.gridCroix:nth-child(1) {
  grid-area: navbar;
}
.gridCroix:nth-child(2) {
  grid-area: titrec;
  background-color: lawngreen;
}
.gridCroix:nth-child(2) > h1 {
  text-align: center;
}
.gridCroix:nth-child(3) {
  grid-area: formc;
  background-color: lightcoral;
  display: flex;
  text-align: center;
}
.FlexContainerCroix {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: center;
  justify-items: center;
}
.FlexContainerCroix > div > fieldset > legend {
  font-size: 24px;
}
.gridCroix:nth-child(4) {
  grid-area: stat;
  background-color: lightskyblue;
}
.FlexContainerRow {
  display: flex;
  flex-direction: row;
}
#remarque {
  width: 200px;
  height: 45px;
}
/* ---------fin croix----------------------*/
/*-----------------------------------------------ref-site--------------------------------*/
#bodysite {
  display: grid;
  grid-template-columns: 175px 1fr 1fr 13%;
  grid-template-rows: 90px 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "navbar title title a"
    "navbar corps corps a"
    "navbar corps corps a"
    "navbar corps corps a"
    "navbar del del a";
  font-family: "copperlate gothic";
  font-size: 13px;
  background-image: url("/formulaire site/img/refsite.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}
#ref-site-title {
  grid-area: title;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-width: 320px;
}
#ref-site-title > h1 {
  border: 1px solid black;
  margin: 10px 35%;
  border-radius: 15px;
  box-shadow: 0px 0px 1px 1px #000000;
  background-color: lightskyblue;
}

#tableausite {
  display: flex;
  grid-area: corps;
  flex-direction: column;
  border-bottom: 1px solid black;
  margin: 0 auto;
  background-color: #fffaface;
  height: fit-content;
  width: fit-content;
  position: relative;
}
#btnNew {
  position: absolute;
  top: -35px;
  right: 0;
  border-radius: 10px;
  opacity: 0.5;
  width: 74px;
  height: 30px;
  font-size: 12px;
  text-align: center;
}
#btnNew:hover {
  opacity: 1;
  transition: 500ms;
  background-color: #87cefab8;
}
#tableausite > table > thead > tr > th {
  border: 1px solid black;
  padding: 10px;
  font-style: italic;
}
#tableausite > table {
  border-collapse: collapse;
}
#SiteDisplay {
  text-align: center;
  font-family: "grammatika";
}
#SiteDisplay > tr > td > input {
  color: red;
}
#SiteDisplay > tr > td {
  border-right: 1px solid black;
  border-left: 1px solid black;
  padding: 3px 10px;
}
#SiteDisplay > tr > td > a {
  text-decoration: underline;
  color: #b10303;
}
#detailSpot {
  text-align: center;
  display: flex;
  flex-direction: column;
}

#trash {
  background-image: url("./formulaire site/img/trash.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 500ms;
}

.modal-content {
  background-color: #fefefe;
  margin: 30% auto;
  border: 1px groove lightskyblue;
  width: 30%;
  height: 150px;
  position: relative;
  border-radius: 10px;
}

.modal-content p {
  text-align: center;
  font-size: 30px;
}

.close {
  color: #aaa;
  position: relative;
  float: right;
  cursor: pointer;
  font-size: 50px;
  padding: 0 10px 0 0;
  font-weight: bold;
}
#deleteNone {
  position: absolute;
  right: 28%;
  border-radius: 5px;
  height: 25px;
  width: 60px;
  bottom: 3%;
  opacity: 0.5;
}
#deleteYes {
  position: absolute;
  left: 25%;
  border-radius: 5px;
  height: 25px;
  width: 60px;
  bottom: 3%;
  opacity: 0.5;
}
#deleteNone:hover {
  opacity: 1;
  transition: 500ms;
  text-decoration: underline;
}
#deleteYes:hover {
  opacity: 1;
  transition: 500ms;
  text-decoration: underline;
}
.confirmation {
  grid-area: del;
  text-align: center;
  box-shadow: 0 0 5px 5px #58d5e9;
  display: none;
  justify-content: center;
  background-color: #d9d9d9de;
  color: #3c8591;
  border-radius: 20px;
  margin: 10px auto;
}

.confirmation > input {
  margin: 0 30px;
  width: 60px;

  background-color: #d9d9d9de;
  border-radius: 13px;
}
.confirmation > input:hover {
  background-color: lightskyblue;
  transition: 0.5s;
}
#modif {
  display: none;
  flex-direction: column;
  grid-area: detail;
}
#reponse2 {
  visibility: hidden;
  min-width: 250px;
  margin-left: -160px;
  background-color: #333;
  color: #58d5e9;
  text-align: center;
  border-radius: 6px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  box-shadow: 0 0 5px 5px #58d5e9;
}

#reponse2.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/*-----------------------------------detailsite-----------------------------------*/
#bodydetail {
  display: grid;
  grid-template-columns: 175px 1fr 1fr;
  grid-template-rows: 90px 1fr 1fr 1fr;
  grid-template-areas:
    "navbar titleD titleD"
    "navbar detail carte"
    "navbar detail carte"
    "navbar c b";
  margin: 0;
  font-family: "copperlate gothic";
  font-size: 13px;
}
#detailTitle {
  grid-area: titleD;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-width: 320px;
}
#detailTitle > h1 {
  border: 1px solid black;
  margin: 10px 40% 0 25%;
  border-radius: 15px;
  box-shadow: 0px 0px 1px 1px #000000;
  background-color: lightskyblue;
}
#detailSpot {
  grid-area: detail;
  text-align: justify;
}
#detailSpot > p > span {
  color: red;
}
#map {
  height: 300px;
  width: 500px;
  grid-area: carte;
  margin-top: 20%;
}
#modif > .container > fieldset {
  margin: 0;
}
#reponse3 {
  visibility: hidden;
  min-width: 250px;
  margin-left: -160px;
  background-color: #333;
  color: #58d5e9;
  text-align: center;
  border-radius: 6px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  box-shadow: 0 0 5px 5px #58d5e9;
}

#reponse3.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
