@font-face {
  font-family: "Copperlate gothic";
  src: url("./asset/Copperplate\ Gothic\ Light\ Regular.ttf");
}
@font-face {
  font-family: "grammatika";
  src: url("./asset/Grammatika-Regular.otf");
}
/*-----------------------------------keyFrames toast---------------------------------------------*/
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
/*************************CSS index-------------------------*/
#bodyindex {
  margin: 0;
  text-align: center;
  background-image: url("/asset/img/index.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.isFlexCollum {
  display: flex;
  flex-direction: column;
  margin: 20% 0 0 0;
  text-align: end;
  justify-content: space-between;
}
.isFlexCollum > form > fieldset > div > input {
  margin: 10px 10px;
}
.isFlexCollum > form {
  background-color: rgba(255, 255, 255, 0.56);
  margin: auto;
}
.isCenter {
  text-align: center;
}

.isFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.isOnclick {
  text-decoration: underline;
  cursor: pointer;
  color: rgb(0, 0, 0);
}
.fullBody {
  margin: 0;
  text-align: center;
}
.isHidden {
  display: none;
}
#resFalse {
  visibility: hidden;
  min-width: 250px;
  margin-left: -150px;
  background-color: #333;
  color: #58d5e9;
  text-align: center;
  border-radius: 6px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  box-shadow: 0 0 5px 5px #58d5e9;
}

#resFalse.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#resTrue {
  visibility: hidden;
  min-width: 250px;
  margin-left: -150px;
  background-color: #333;
  color: #58d5e9;
  text-align: center;
  border-radius: 6px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  box-shadow: 0 0 5px 5px #58d5e9;
}

#resTrue.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#badLog {
  visibility: hidden;
  min-width: 250px;
  margin-left: -150px;
  background-color: #333;
  color: #58d5e9;
  text-align: center;
  border-radius: 6px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  box-shadow: 0 0 5px 5px #58d5e9;
}

#badLog.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#logged > h3 {
  color: white;
  background-color: black;
  width: 20%;
}
/*************************fin CSS index---------------------------*/
/*--------*******************CSS New-Spot*************************** --------*/

input[type="button"] {
  cursor: pointer;
}

#bodyNewsite {
  background-image: url("./asset/img/IMG_3202.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  font-family: "grammatika";
  background-attachment: fixed;
}
.divNavbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(255, 251, 251);
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  font-size: 20px;
  opacity: 0.6;
}
.divNavbar:hover {
  opacity: 1;
}

.divNavbar > div > p > a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.fullBody {
  margin: 0;
  text-align: center;
}
.fullBody > h1 {
  margin-top: 95px;
  font-family: "copperplate";
  text-decoration: underline;
}
.divForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
}
.infoImpotant {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.infoImpotant > input {
  margin: 0 auto;
}
.infoImpotant > select {
  margin: 0 auto;
}
input[type="text"],
input[type="number"],
input[type="password"],
select {
  width: 50%;
  min-width: 150px;
  max-width: 200px;
  box-sizing: border-box;
  padding: 4px;
}
.divForm > form > fieldset > label {
  margin: 6px 0;
  text-decoration: underline;
}
.divForm > form > fieldset > div > p {
  margin: 6px 0;
  text-decoration: underline;
}
.divForm > form > fieldset {
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.507);
}
.divForm > form > fieldset > legend {
  background-color: white;
  font-family: "copperplate";
  text-decoration: underline;
}
.saison > div,
.confort > div,
.exposition > div {
  display: inline;
}
.infoPark {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gps {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.gps2 {
  display: none;
  flex-direction: row;
  flex-grow: 1;
}
.gps > div,
.gps2 > div {
  flex-grow: 1;
}
.gps > p,
.gps2 > p {
  flex-grow: 1;
}
.gps {
  margin-left: 14px;
}
.styleButton {
  margin: 25px 0;
  border-radius: 9px;
  width: 75px;
  height: 25px;
  border-color: darkturquoise;
  cursor: pointer;
}
#reponse {
  visibility: hidden;
  min-width: 250px;
  margin-left: -150px;
  background-color: #333;
  color: #58d5e9;
  text-align: center;
  border-radius: 6px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  box-shadow: 0 0 5px 5px #58d5e9;
}

#reponse.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
/*******************************---------------responsive New-Spot--------*********************************/
@media screen and (max-width: 1200px) {
  .gps,
  .gps2 {
    flex-direction: column;
    align-items: flex-end;
    margin-right: 28%;
  }
  .divForm > form > fieldset > .gps > p {
    margin-right: 15%;
  }
  .divForm > form > fieldset > .gps2 > p {
    margin-right: 12%;
  }
  .gps > div,
  .gps2 > div {
    margin: 5px 0 2px 0;
  }
}

@media screen and (max-width: 1090px) {
  .confort {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 37%;
  }
}
@media screen and (max-width: 740px) {
  .gps,
  .gps2 {
    margin-right: 20%;
  }
}

@media screen and (max-width: 800px) {
  .saison {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 37%;
  }
}
@media screen and (max-width: 650px) {
  .gps > div,
  .gps2 > div {
    display: flex;
    align-items: flex-end;
  }
}
@media screen and (max-width: 560px) {
  .confort,
  .saison {
    margin-left: 30%;
  }
}
@media screen and (max-width: 460px) {
  .exposition {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .divForm {
    width: 100%;
  }
  .home > p {
    display: none;
  }
  .home {
    background-image: url("./asset/img/home-png-20047-32x32.ico");
    width: 30px;
    margin-top: 9px;
    background-repeat: no-repeat;
  }
  input[type="checkbox"] {
    transform: scale(1.8);
  }
  .exposition > label,
  .saison > label,
  .confort > label,
  .gps > label,
  .gps2 > label {
    margin: 6px 0 3px 0;
  }
  .saison,
  .confort {
    margin: inherit;
  }
  .saison > div > input,
  .confort > div > input,
  .exposition > div > input {
    margin-bottom: 10px;
  }
  .saison,
  .exposition,
  .confort {
    align-items: flex-start;
  }
  .saison > div > label,
  .exposition > div > label,
  .confort > div > label {
    margin-left: 10px;
  }
  .saison > div,
  .exposition > div,
  .confort > div {
    margin-left: 40%;
  }
  .divForm > form > fieldset > div > p {
    margin-left: 40%;
  }
  .divForm > form > fieldset > div.gps > p,
  .divForm > form > fieldset > div.gps2 > p {
    margin: 10px 20%;
  }
  .divForm > form > fieldset > .confort > p {
    margin: 10px 0 10px 35%;
  }
  .gps {
    margin-left: 0;
  }
  .divNavbar {
    z-index: 1;
  }
}
/**************------------fin responsive New-Spot----------------------------*************************/
/***************-------------------Fin Css New-spot --------------------****************************-*/

/* -------------------------style feuille de croix --------------------*/
#bodyCroix {
  background-image: url("/asset/img/Toutes\ les\ photos\ -\ 1\ sur\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  margin: 0;
}
.maxWidth50 {
  max-width: 50px;
  min-width: 25px;
}
#nombreEssai {
  min-width: 30px;
  width: 40px;
}
/*************-----------------fin croix*************************/
/**************************************-------------------Liste-site----------------------************/
.listeSites {
  margin: 0;
  background-repeat: no-repeat;
  background-image: url("/asset/img/refsite.png");
  background-size: cover;
  background-attachment: fixed;
  font-family: "grammatika";
}

#tableausite {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}
#tableausite > table {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.603);
}
#tableausite > table > thead > tr > th {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 7px 5px 0 5px;
}
#tableausite > table > tbody > tr > td {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 5px;
}
#btnDel {
  border-radius: 6px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 500ms;
}

.modal-content {
  background-color: #fefefe;
  margin: 30% auto;
  border: 1px groove lightskyblue;
  width: 30%;
  height: 150px;
  position: relative;
  border-radius: 10px;
}

.modal-content p {
  text-align: center;
  font-size: 30px;
}

.close {
  color: #aaa;
  position: relative;
  float: right;
  cursor: pointer;
  font-size: 50px;
  padding: 0 10px 0 0;
  font-weight: bold;
}
#deleteNone {
  position: absolute;
  right: 28%;
  border-radius: 5px;
  height: 25px;
  width: 60px;
  bottom: 3%;
  opacity: 0.5;
}
#deleteYes {
  position: absolute;
  left: 25%;
  border-radius: 5px;
  height: 25px;
  width: 60px;
  bottom: 3%;
  opacity: 0.5;
}
#deleteNone:hover {
  opacity: 1;
  transition: 500ms;
  text-decoration: underline;
}
#deleteYes:hover {
  opacity: 1;
  transition: 500ms;
  text-decoration: underline;
}
#reponse2 {
  visibility: hidden;
  min-width: 250px;
  margin-left: -160px;
  background-color: #333;
  color: #58d5e9;
  text-align: center;
  border-radius: 6px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  box-shadow: 0 0 5px 5px #58d5e9;
}

#reponse2.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
.showLogo {
  display: none;
}
/***************************************-----------------------responsive--------------------*********************/
@media screen and (max-width: 800px) {
  .hidden {
    display: none;
  }
  #tableausite > table > tbody > tr > .showLogo {
    display: flex;
    flex-direction: column;
    border-bottom: none;
  }
}
@media screen and (max-width: 600px) {
  .hidden600 {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .hidden320 {
    display: none;
  }
  #btnDel {
    width: 35px;
    background-image: url("/asset/img/remove3.png");
    font-size: 0;
    height: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  #expoLogo {
    width: 5px;
    height: 10px;
    font-size: 0;
    background-image: url("/asset/img/boussole.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  #hikkingTime {
    padding: 0 20px;
    height: 10px;
    font-size: 0;
    background-image: url("/asset/img/hiking-solid.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .modal-content {
    width: 100%;
    margin: 60% auto;
  }
}
/********************-------------------Fin responsive Liste-sites----------------*******/
/***************************-------------------fin liste-sites----------------**********************/

/*****************************************----fiche sites---------------**********/
#map {
  height: 400px;
  width: 600px;
}
#flexContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row-reverse;
}
#detailSpot > div > input {
  margin: 8% 0 8% 0;
  border-radius: 8px;
}
#detailSpot > div > ul {
  list-style-type: none;
}
#detailSpot {
  background-color: rgba(255, 255, 255, 0.61);
  padding: 10px;
}
#reponse3 {
  visibility: hidden;
  min-width: 250px;
  margin-left: -160px;
  background-color: #333;
  color: #58d5e9;
  text-align: center;
  border-radius: 6px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  box-shadow: 0 0 5px 5px #58d5e9;
}

#reponse3.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
.isHidden {
  display: none;
}
#modif > input {
  margin-top: 40px;
  border-radius: 10px;
  width: 80px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.438);
}
#modif > input:hover {
  background-color: white;
  text-decoration: underline;
}
/**************$------------responsive*************************/
@media screen and (max-width: 1000px) {
  #map {
    height: 300px;
    width: 500px;
  }
}
@media screen and (max-width: 800px) {
  #flexContainer {
    flex-direction: column-reverse;
  }
  #map {
    width: 80%;
    margin: 15px 0 20px 0;
  }
  #detailSpot {
    width: 80%;
  }
}
@media screen and (max-width: 450px) {
  #map {
    width: 100%;
    height: 250px;
  }
  #detailSpot {
    width: 100%;
  }
}
/***************************-------------------fin fiche-sites----------------**********************/

/*********************--------------------------home------------**************/
#bodyHome {
  margin: 0;
  text-align: center;
  background-attachment: fixed;
  background-image: url("/asset/img/index.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.isConnectBtn {
  border-color: black;
  width: 40%;
}
.isNewBtn {
  border-color: black;
  width: 10%;
}
#homeUser {
  display: flex;
  justify-content: center;
  align-items: center;
}
#homeUser > p {
  margin-left: 10px;
}
.isFlexRaw {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.marginTop {
  margin-top: 10%;
}
.isSpaceAround {
  justify-content: space-around;
}
.localStore > p {
  margin-left: 10px;
}
